%p#notice= notice

%p
  %b Name:
  = @celebrity.name
%p
  %b National:
  = @celebrity.national
%p
  %b Domain:
  = @celebrity.domain

= link_to 'Edit', edit_celebrity_path(@celebrity)
\|
= link_to 'Back', celebrities_path
